body, h1{
    margin: 0;
    padding: 0;
} 

.Container{
   width:auto;
   height:auto;
   position: relative;
}
.header{
    height:70px;
    width:auto;
    background-color:#FFFFFF;
    box-shadow: 0 4px 12px -2px rgba(206, 206, 206, 0.25);
    
    position: relative;
}
    

.logo{
    position:absolute;
    width:80px;
    height:70px;
    left:70px;
 }  
 .menus{
    text-align:center;
    position: absolute;
    top:20px;
    left:230px;
    word-spacing: 25px;
    font-size:20px;
    font-family:roboto
 }
 .spaceless{
    word-spacing: 2px;

 }
 .home{
     position: absolute;
     top:23px;
     left:550px;

    /* text-align:justify; */
 }
 .top-body{
     height:400px;
     width:700px;
     text-align: center;
     margin-left:400px;
     position: relative;
     /* background-image: url("SMX/open.png");
     background-size:900px; */
    
 }
 /* .top-left{
     /* position:absolute; */
     /* margin-left:-800px; */
     /* top:500px; */
     /* margin-top:20px; */
 /* }  */
 .background{
     margin-left:100px;
     height:400px;
     width:auto;
     padding-left:200px;
 }
 .lower-body{
     margin-top:50px;
     margin-bottom:100px;
 }
 /* .map{
     text-align:center;
     margin-left:550px;
     margin-bottom:0px;
     
 } */
 .md-purple{
     font-size: 20px;
     color:#945AAC;
 }
 /* .margin{
     margin-left:50px;
 } */
 hr.short-line {
	border-top: 1px solid #8c8b8b;
    border-bottom: 1px solid #fff;
    width:250px;
    margin-left:0px;
}
.form{
    width: 400px;
    clear:both;
    text-align: left;
    margin-left: 50px;
    display: inline-block;
    border-radius: 12px;
    right:200px;
    top:0px;
    color:pink;


 /* .page-header{
     text-align: center;
 } */
}
input[type=text]{
    border:none;
    background:transparent;
    border-bottom:1px solid black;
    width:300px;
    
}
 .login{
     /* float: right; */
     position: absolute;
     top:20px;
     right: 150px;
     color:white;
     font-size:20px;
     font-family:roboto

 }
 img{
     height: 60px;
     width:70px;
 }
 a{
    color:black !important;
    text-decoration: none;
}
a:hover{
    background-color: rgb(104, 102, 105);
    text-decoration: underline solid purple;
}
a:active{
    text-decoration: underline solid purple;
}
 deal{
    width:80px;
    height:70px;  

 } 
 .purple{
     color: #945AAC
 }
 .body-top{
    Font-Family: Roboto;
    /* Font-Style: Medium; */
    Font-Size: 20px;
    /* Line-Height: 47px; */
    /* align: Left; */
    /* Letter-Spacing: 4%; */
     color: #F9F9F9;
     text-align: center;
 }
 .lower-body{
     position:relative;
     height:520px;
 }
 .final{
    position:absolute;
    left:400px;
    bottom:-55px;
    width:200px;
    height:43px;
    text-align: center;
 }
.footer{
    position: relative;
    height:250px;
    padding: 10px;
    background-color:#F8F8F8;

 }
 .size{
     width:200px;
     height:180px;
     background:transparent;
 }
 .center{
     text-align: center;
 }
 .left{
     position:absolute;
     left:50px;
     top:80px;
     margin: 10px;
     font-size: 16px; 
     word-spacing:25px;
     /* bottom:10px; */
    /* font-size: 15px; */
    /* text-align: justified; 
    /* column-span: 4px; */
    /* color: black;
    font-family: roboto; */ 
 }

 .leftdown {
     position:absolute;
     margin:10px;
     top: 150px;
     left:50px;
 }
 .trademark{
    position:absolute;
    bottom:20px;
    margin-left:50px;

}
 .dot{
    height:10px;
    width:10px;  
 }
 .social{
     /* position: absolute; */
     height:15px;
     width:15px; 
     color:#454545
 }
 .right{
     position:absolute;
     right:50px;
     bottom:50px;

    text-align: center;
 }
 